/* General */

.container-fluid, .row, .col {
    margin: 0;
    padding: 0;
}

p, h2, h3, h4, h5, h6 {
    color: grey;
}

a, .a:link, a:hover, a:visited {
    text-decoration: none !important;
}

/* Botones */

.btn-primary, .btn-primary:visited {
    background-color: #ddafb8 !important;
    border-color: #ddafb8 !important;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #D09EA8 !important;
    border-color: #D09EA8 !important;
}

.btn-light, .btn-light:visited {
    background-color: white !important;
    border-color: #ddafb8 !important;
    color: #ddafb8 !important;
}

.btn-light:hover, .btn-light:focus {
    background-color: #D09EA8 !important;
    border-color: #D09EA8 !important;
    color:white !important;
}

.btn-secondary, .btn-secondary:visited {
    background-color: #ACA9A1 !important;
    border-color: #ACA9A1 !important;
}

.btn-secondary:hover, .btn-secondary:focus {
    background-color: #ACA9A1 !important;
    border-color: #ACA9A1 !important;
    color:white !important;
}

.preview {
    width: 60%;
}

.view {
    max-width: 500px;
}

/*Color-picker*/

.color-picker {
    display: inline-block;
    border: none;
    height: 2em;
    width:2em;
    margin: 0 2px;
    border-radius: 50%;
}

.color-picker-sizes {
    border: none;
    padding: 0.4em 0.55em;
    border-radius: 50%;
    background-color: #ddafb8;
    color:white;
}

.color-picker-sizes:hover {
    border: none;
    padding: 0.4em 0.55em;
    border-radius: 50%;
    background-color: #D09EA8;
    color:white;
}

.negro {
    background-color: black !important;
}

.rosa {
    background-color: #ddafb8;
}

.blanco {
    border: 0.5px solid #ACA9A1;
    background-color: #FFFBFB;
}

/* Menu */

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding: 0px !important;
}

.dropdown-toggle::after {
    display: none !important;
} 

.logo {
    color: #ddafb8;
}

.pinkNav, .dropdown-menu {
    background-color: #FEF2F4 !important;
    color: #4F4F4F !important
}

.dropdown-item:hover {
    background-color:#ddafb8 !important;
    color: #ffff !important
  
}

.dropdown-item {
    background-color: #FEF2F4 !important;
    color: #4F4F4F !important
}

.dropdown-menu.show, .navbar-light .navbar-toggler {
    border:none
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0 !important
}

/* Carrousel */

.carousel-indicators [data-bs-target] {
    width: 0.6em !important;
    height: 0.6em !important;
    margin: 0 0.4em !important; 
    border-radius: 50%
}